root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# El archivo sirve para que el código se adapte a tus reglas, 
# no al editor de cada colega.