<section id="content-footer" class="content-footer">
  <div class="grid grid-1">
    <h3>NUTRAADVANCE</h3>
    <ul>
      <li>
        <a href="index.html" title="Ir a inicio">INICIO</a>
      </li>
      <li>
        <a
          href="nutraadvance-frontend/pages/salud.html"
          title="Ver productos de salud"
          >SALUD</a
        >
      </li>
      <li>
        <a
          href="nutraadvance-frontend/pages/accesorios.html"
          title="Ver accesorios"
          >ACCESORIOS</a
        >
      </li>
      <li>
        <a href="nutraadvance-frontend/pages/ofertas.html" title="Ver ofertas"
          >OFERTAS</a
        >
      </li>
    </ul>
  </div>

  <div class="grid grid-2">
    <h3>CONTACTANOS</h3>
    <p>
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:reclamos@nutraadvance.us" title="Correo electronico"
        >reclamos@nutraadavance.us</a
      >
    </p>
    <p>
      <i class="fa-brands fa-whatsapp"></i>
      <a href="https://wa.me/51987765678" title="Ir a whatsapp"
        >+51 922 762 808</a
      >
    </p>
  </div>

  <div class="grid grid-3">
    <a href="https://facebook.com" title="Ir a Facebook">
      <i id="facebook" class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://instagram.com" title="Ir a Instagram">
      <i id="instagram" class="fa-brands fa-instagram"></i>
    </a>
  </div>
</section>
