<section id="content-footer" class="content-footer">
  <div class="grid grid-1">
    <h3>NUTRAADVANCE</h3>
    <ul>
      <li><a href="salud.html" title="Ir a salud">SALUD</a></li>
      <li><a href="accesorios.html" title="Ir a accesorios">ACCESORIOS</a></li>
      <li>
        <a href="promociones.html" title="Ir a promociones">PROMOCIONES</a>
      </li>
    </ul>
  </div>

  <div class="grid grid-2">
    <h3>CONTACTANOS</h3>
    <p>
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:reclamos@nutraadvance.us" title="Correo electronico"
        >reclamos@nutraadavance.us</a
      >
    </p>
    <p>
      <i class="fa-solid fa-phone"></i>
      <a href="">+51 922 762 808</a>
    </p>
    <p>
      <i class="fa-brands fa-whatsapp"></i>
      <a href="https://wa.me/51987765678">+51 922 762 808</a>
    </p>
  </div>

  <div class="grid grid-3">
    <a href="https://facebook.com" title="Siguenos en Facebook">
      <i id="facebook" class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://instagram.com" title="Siguenos en Instagram">
      <i id="instagram" class="fa-brands fa-instagram"></i>
    </a>
  </div>
</section>
