<section id="contact" class="contact">
  <a href="mailto:ventas@nutraadavance.us" title="E-mail">
    <i class="fa-solid fa-envelope"></i>
  </a>

  <a href="https://wa.me/51987765678" title="Whatsapp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>

  <a href="https://www.facebook.com" title="Facebook">
    <i class="fa-brands fa-facebook"></i>
  </a>

  <a href="https://www.instagram.com" title="Instagram">
    <i class="fa-brands fa-instagram"></i>
  </a>
</section>

<section id="logo-slogan" class="logo-slogan">
  <h1>NutraAdvance US</h1>
  <p>¡Nutricion avanzada para tu bienestar!</p>
</section>
